body {
  background-color: #f7f7f7;
}
header {
  border-bottom: 1px solid #ebebeb;
}

.container-header {
  width: 1040px;
  height: 75.5px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;
}

.container-header h1 {
  color: #707070;
  font-size: 44px;
  font-style: italic;
  font-weight: bold;
}

.container-header h1:after {
  content: "";
  background-color: #b5c401;
  border-radius: 6px;
  display: block;
  width: 88px;
  height: 7px;
}

.container-header a {
  color: #707070;
  font-size: 20px;

  font-style: italic;
  text-decoration: none;

  display: flex;
  align-items: center;
}

.container-header a img {
  margin-left: 8px;
}

main {
  width: 1040px;
  margin: 0 auto;
  padding: 40px 0;

  display: grid;
  grid-template-columns: auto 320px;
  gap: 40px;
}

.main-section h3 {
  color: #707070;

  font-size: 24px;
  font-style: italic;
  font-weight: normal;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.main-section h3 span {
  font-weight: bold;
}

.main-section strong {
  color: #868686;
  font-style: italic;
  font-size: 17px;
  font-weight: bold;
}

.main-section ul {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 380px;
  margin-top: 30px;
}

.main-section li label {
  border-radius: 100px;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  padding: 8px 20px;
  cursor: pointer;
}

.purple input,
.green input,
.orange input {
  display: none;
}

.purple input[type="radio"] + label {
  border: 2px solid #7f3992;
  color: #7f3992;
}
.purple input[type="radio"]:checked + label {
  background-color: #7f3992;
  border: 2px solid #7f3992;
  color: #fff;
}

.green input[type="radio"] + label {
  border: 2px solid #01ac66;
  color: #01ac66;
}
.green input[type="radio"]:checked + label {
  background-color: #01ac66;
  border: 2px solid #01ac66;
  color: #fff;
}

.orange input[type="radio"] + label {
  border: 2px solid #f79c31;
  color: #f79c31;
}
.orange input[type="radio"]:checked + label {
  background-color: #f79c31;
  border: 2px solid #f79c31;
  color: #fff;
}

.main-section .description-game {
  color: #868686;
  font-size: 17px;
  font-style: italic;

  margin: 40px 0;
}

.main-section .description-game h4 {
  font-weight: bold;
}

.main-section .numbers-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 20px;
}

.main-section .number {
  background-color: #adc0c4;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 65px;
  height: 65px;
}

.main-section .container-action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 40px;
}

.main-section .container-action-buttons .button-empty {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.main-section .container-action-buttons button {
  padding: 16px 28px;
}

.main-section .button-empty button {
  border: 1px solid #27c383;
  border-radius: 10px;
  background-color: transparent;
  color: #27c383;
  font-weight: 500;
}

.main-section .button-cart {
  border: 1px solid #27c383;
  border-radius: 10px;
  background-color: #27c383;
  color: #fff;
  font-weight: 700;

  display: flex;
  align-items: center;
}

.main-section .button-cart img {
  margin-right: 8px;
}

.cart {
  background-color: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 10px;

  width: 100%;
  max-height: 600px;
  padding: 32px 16px 0;
  position: relative;
}

.cart h3 {
  color: #707070;
  font-style: italic;
  font-size: 24px;
  font-weight: bold;
}

.cart .bet {
  display: flex;
  align-items: center;
  margin: 32px 0;
}

.cart .bet img {
  width: 20px;
  margin-right: 14px;
}

.separator {
  content: "";
  display: inline-block;
  background-color: #7f3992;
  border-radius: 100px 0px 0px 100px;
  width: 4px;
  height: 86px;
}

.bet-info {
  display: flex;
  flex-direction: column;

  margin-left: 14px;
}

.bet-info h4 {
  color: #868686;

  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0px;
  margin-bottom: 8px;
}

.bet-info div strong {
  color: #7f3992;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
}

.bet-info div span {
  color: #868686;
  margin-left: 16px;
}

.total {
  color: #868686;
  position: absolute;
  bottom: 140px;
}

.total h2 {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.total h2 span {
  font-style: italic;
  font-weight: bold;
}

.save {
  background-color: #f4f4f4;
  border: 1px solid #e2e2e2;
  border-radius: 0 0 8px 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100px;

  position: absolute;
  bottom: 0;
  left: 0;
}

.save button {
  border: none;

  background-color: transparent;
  color: #27c383;
  font-size: 35px;
  font-style: italic;
  font-weight: bold;
  cursor: pointer;
  padding: 32px;
}

.save img {
  color: #27c383;
  width: 24px;
}
